#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
log_error = /var/log/mysql/error.log

[client]
port = 3306

[mysqld]
user = mysql
port = 3306
bind-address = 127.0.0.1
local-infile = 0
skip-symbolic-link = 1
